@charset "UTF-8";
@font-face {
  font-family: "IBM Plex Sans";
  src: url('../font/IBMPlexSans-Regular.ttf') format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url('../font/IBMPlexSans-SemiBold.ttf') format("truetype");
  font-weight: 600;
}

:root {
  --primary-color: #4BD7C8;
  --secundary-color: #99E9DF;
  --tertiary-color: #CCF4EF;
  --font: "IBM Plex Sans";
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font);
  font-weight: 600;
  color: #262626;
  background: #FAFAFA;
}