@import 'default.css';
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  box-sizing: border-box;
  padding: 10px 0;
}
header div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 60px;
  width: 100%;
  height: 70px;
}
header div.header div.logo a {
  display: flex;
  align-items: center;
}
header div.header div.logo img {
  pointer-events: none;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
header div.header div.logo span {
  font-size: 20px;
}
header div.header nav.nav-bar ul li {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 15px;
}
header label[for=menu-mobile].open-menu {
  position: absolute;
  display: none;
  background: url('../img/hamburguer-button.svg') no-repeat center;
  cursor: pointer;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 30px;
}
header label[for=menu-mobile].close-menu {
  display: none;
}
header input#menu-mobile:checked ~ .header {
  right: 0;
}
header input#menu-mobile {
  display: none;
}
section.presentation {
  box-sizing: border-box;
  padding: 100px 0;
}
section.presentation div.container-presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}
section.presentation div.container-presentation div.text-presentation {
  margin: 20px;
  max-width: 550px;
  flex: 1 1 100%;
}
section.presentation div.container-presentation div.text-presentation a.btn {
  font-size: 22px;
  width: 200px;
}
section.presentation div.container-presentation div.text-presentation h2 {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 20px;
}
section.presentation div.container-presentation figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.presentation div.container-presentation img {
  pointer-events: none;
  animation: move-chip 1.5s ease alternate infinite;
  width: 350px;
  height: 350px;
}
section.presentation div.container-presentation i.shadow {
  display: block;
  box-shadow: 0 35px 6px -10px rgba(0,0,0,.6);
  border-radius: 50%;
  animation: change-shadow 1.5s ease alternate infinite;
  margin-bottom: 20px;
  width: 70%;
  height: 40px;
}
section.team {
  background: var(--primary-color);
  padding: 80px 0;
}
section.team h3 {
  color: #fff;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px 5px rgba(0,0,0,.3);
  margin-bottom: 30px;
}
section.team div.members-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section.team div.members-group div.member {
  display: flex;
  align-items: center;
  margin: 25px;
  width: 340px;
}
section.team div.members-group div.member img {
  background: #fff;
  border: 5px solid var(--secundary-color);
  border-radius: 50%;
  margin-right: 15px;
  width: 80px;
  height: 80px;
}
section.team div.members-group div.member div.information-member span.member-name {
  font-size: 18px;
  font-family: var(--font);
  font-style: italic;
}
section.team div.members-group div.member div.information-member span.member-office {
  display: block;
  color: #505050;
  font-size: 16px;
  font-family: var(--font);
  font-weight: 300;
}
section.characters {
  background: #fff;
  padding: 40px 0;
}
section.characters div.resume-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section.characters div.resume-characters div.character {
  margin: 0 50px;
  width: 200px;
}
section.characters div.resume-characters div.character img {
  pointer-events: none;
  width: 200;
  height: 200px;
}
section.characters div.resume-characters div.character span {
  display: block;
  text-align: center;
}
section.characters div.resume-characters div.character span.character-name {
  font-size: 30px;
  text-transform: uppercase;
}
section.characters div.resume-characters div.character span.character-resume {
  color: #505050;
  font-size: 18px;
  font-weight: 400;
}
section.progress-robot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 80px 60px;
}
section.progress-robot div.carousel {
  max-width: 550px;
  flex: 1 1 50%;
}
section.progress-robot div.carousel img.large-image{
  background-color: lightcyan;
  margin-bottom: 10px;
  width: 100%;
  height: 325px;
}
section.progress-robot div.carousel div.another-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.progress-robot div.carousel div.another-images button {
  background: no-repeat center;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 30px;
}
section.progress-robot div.carousel div.another-images button.back {
  background-image: url('../img/arrow-left.svg');
}
section.progress-robot div.carousel div.another-images button.next {
  background-image: url('../img/arrow-right.svg');
}
section.progress-robot div.carousel div.another-images ul {
  margin: 0 20px;
}
section.progress-robot div.carousel div.another-images ul li {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
}
section.progress-robot div.carousel div.another-images ul li img {
  background-color: lightgrey;
  width: 50px;
  height: 50px;
}
section.progress-robot div.information-image {
  margin: 40px;
  flex: 1 1 40%;
}
section.progress-robot div.information-image p {
  color: #505050;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
section.robocup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  background: var(--tertiary-color);
  padding: 80px 0;
}
section.robocup img {
  pointer-events: none;
  margin-top: 50px;
  width: 250px;
  height: 250px;
}
section.robocup div.information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
section.robocup div.information h3 {
  color: #505050;
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
}
section.robocup div.information p {
  color: #505050;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: right;
  margin: 15px 0;
  width: 500px;
}
section.robocup div.information span {
  margin-bottom: 10px;
}
section.robocup div.information div.previous-editions a {
  margin-left: 20px;
  width: 100px;
  padding: 5px 0;
}
section.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  background: #fff;
  padding: 80px 0;
}
section.contact div.form {
  margin-top: 50px;
  flex: 0 0 450px;
}
section.contact div.form h3 {
  color: #505050;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
section.contact div.form form > input, section.contact div.form form textarea {
  display: block;
  color: #262626;
  font-family: var(--font);
  font-size: 15px;
  background: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  box-sizing: border-box;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
}
::placeholder  {
  color: #969696;
  font-style: italic;
}
section.contact div.form form textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
}
section.contact div.form form div.radio-buttons {
  display: flex;
}
section.contact div.form form div.radio-buttons div.radio {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
section.contact div.form form div.radio-buttons div.radio label {
  color: #505050;
  margin-left: 5px;
}
section.contact div.form form button {
  font-family: var(--font);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 0;
  margin-top: 15px;
  width: 150px;
}
section.contact div.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 350px;
}
section.contact div.information p {
  color: #505050;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}
section.contact div.information img {
  pointer-events: none;
  width: 250px;
  height: 250px;
}
footer {
  background: #fff;
  padding: 10px 0;
}
footer div.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
footer div.informations > div {
  margin: 0 20px;
}
footer div.informations span.title {
  display: block;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
footer div.informations div.social-networks div.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.informations div.social-networks div.links a {
  margin: 0 15px;
}
footer div.informations div.social-networks div.links a img {
  width: 35px;
  height: 35px;
}
footer div.informations div.organization {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div.informations div.organization img {
  height: 35px;
}
footer div.copyright > span {
  display: block;
  font-size: 14px;
  text-align: center;
}
footer div.copyright span.credits {
  color: #808080;
  font-weight: 400;
  font-size: 12px;
}
footer div.copyright span.credits span.company {
  color: rgb(237,20,91)
}
@keyframes move-chip {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}
@keyframes change-shadow {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(.9)
  }
}

@media screen and (max-width: 600px) {
  header div.header {
    position: fixed;
    background: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    box-shadow: -3px 0 5px rgba(0,0,0,.2);
    transition: right .3s;
    padding: 0;
    z-index: 10;
    right: -100%;
    min-width: 300px;
    width: 50%;
    height: 100%;
  }
  header label[for=menu-mobile].open-menu {
    display: block;
  }
  header div.header label[for=menu-mobile].close-menu {
    position: absolute;
    display: block;
    background: url('../img/close-button.svg') no-repeat center;
    cursor: pointer;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
  }
  header div.header nav.nav-bar {
    margin: 10px 0;
    width: 100%;
  }
  header div.header nav.nav-bar ul li {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
  }
  header div.header nav.nav-bar ul li a {
    display: block;
    padding: 15px 0;
  }
  section.presentation {
    padding: 100px 0;
  }
  section.presentation div.container-presentation {
    justify-content: center;
    flex-direction: column-reverse;
    padding: 0;
  }
  section.presentation div.container-presentation img {
    width: 250px;
    height: 250px;
  }
  section.presentation div.container-presentation div.text-presentation h2 {
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 0 40px;
    width: 90%;
  }
  section.presentation div.container-presentation div.text-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.team h3 {
    font-size: 35px;
    width: 80%;
  }
  section.team div.members-group {
    flex-direction: column;
  }
  section.team div.members-group div.member {
    flex-direction: column;
  }
  section.team div.members-group div.member img {
    margin: 0 0 5px;
  }
  section.team div.members-group div.member div.information-member span {
    display: block;
    text-align: center;
  }
  section.characters div.resume-characters {
    align-items: center;
    flex-direction: column;
  }
  section.characters div.resume-characters div.character {
    margin: 10px 0;
  }
  section.progress-robot {
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 0;
  }
  section.progress-robot div.carousel {
    margin: 0;
    flex: 1 1 100%;
  }
  section.progress-robot div.carousel div.another-images ul li:nth-child(n+5) {
    display: none;
  }
  section.progress-robot div.information-image p {
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 10%;
    margin: 20px 0;
  }
  section.robocup {
    flex-wrap: wrap-reverse;
    padding: 50px 20px;
  }
  section.robocup img {
    width: 120px;
    height: 120px;
  }
  section.robocup div.information {
    width: 60%;
  }
  section.robocup div.information h3 {
    font-style: 20px;
  }
  section.robocup div.information p {
    font-size: 16px;
    width: auto;
  }
  section.robocup div.information div.previous-editions {
    display: flex;
    flex-direction: column;
  }
  section.robocup div.information div.previous-editions a {
    margin: 10px 0;
  }
  section.contact {
    flex-direction: column-reverse;
  }
  section.contact div.form {
    margin-top: 50px;
    width: 80%;
    flex: unset;
  }
  section.contact div.form h3 {
    display: none;
  }
  section.contact div.information {
    width: 80%;
    flex: unset;
  }
  footer div.informations {
    flex-direction: column;
  }
  footer div.informations > div {
    margin: 10px 0;
  }
}